* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #222;
    color: #fff;
}

header { 
    padding: 20px;
    width: 100%;
    height: auto;
    min-height: 60px; 
    background: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.buscar {
    display: flex;
    padding: 0;
    margin-top: 10px;
}

input {
    width: 240px;
    height: 25px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-right: 3px;
}

button{
    width: 25px;
    height: 25px;
    background-image: url(../images/lupa.jpg);
    background-size: cover;
    border: none;
    border-radius: 15px;
}

h1 {
    color: #fff;
    text-align: center; 
    text-transform: uppercase;
}

main {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content; 
    grid-auto-flow: row dense;
    max-width: 75%;
    margin: auto;
    margin-top: 20px;
}

.article {
    padding: 1rem;
    box-shadow: 3px 3px 3px 4px #333;
}

.article img {
    width: 100%;
}

.article a,.article a:visited {
    text-decoration: none;
    color: inherit;
    font-size: 10px;
}